<div class="tasks-dashboard">
    <h1 class="dashboard-top"> Update Task</h1>
    <div class="dashboard-middle">
      <%= form_for(@task) do |f| %>
        <h1 class="form-header">Title:</h1><%= f.text_field :title, class: 'create-task-title' %>
        <h1 class="form-header">Description:</h1> <%= f.text_area :details, class: 'create-task-description' %><br>
        <%# Completed: <%= f.check_box :completed if Task.exists?(id: task.id) %>
    </div>
    <div class="dashboard-bottom">
        <%= f.submit 'Update Task', class: 'btn-create-task '%>
        <% end %>
    </div>
  </div>
